.button {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #000;
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 16px;
    -fx-padding: 8px 16px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
    -fx-cursor: hand;
}
/*
#salaryHistory .scene {
     -fx-background-color: #F5F5F5;
}*/
#salaryHistory, #expenseHistory {
    -fx-background-color: #FFFFFF;
}

/*rivin tausta */
/*
#salaryHistory .cell{
     /* -fx-background-color: #BDBDBD;*/
}

/*
 .list-cell:odd {
    -fx-background-color: red;
  }*/

.listView .list-cell {
 -fx-border-color: white;
 -fx-border-width: 5px;
 -fx-border-radius:30px;
  -fx-background-radius:30px;

 -fx-border-padding:4px;

}


.listView .list-cell:hover, .listView list-cell:focused, .listView .list-cell:filled:selected, .listView list-cell:selected{
    -fx-background-color: #BDBDBD;
    -fx-background-radius:30px;
    -fx-cursor: hand;
    -fx-border-radius:30px;
     /*-fx-border-color: white; */
}

.listView {
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 16px;
    -fx-padding: 8px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-background-color: #F5F5F5;
}

.button:hover {
    -fx-background-color: #BDBDBD;
}

.text-field {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #000;
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 16px;
    -fx-padding: 8px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

.text-field:hover, .text-field:focused{
    -fx-background-color: #BDBDBD;
}

.combo-box {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #000;
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 16px;
    -fx-padding: 8px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
}

.combo-box:hover, .combo-box:focused {
    -fx-background-color: #BDBDBD;
}

.background {
    -fx-background-color: #85bb65;
}

.secondBackground {
    -fx-background-color: #F5F5F5;
    -fx-border-radius:30px;
    -fx-background-radius: 30px;

}

.header {
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.titleText {
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 40px;
    -fx-text-fill: black;
}

.budgetText {
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 26px;
    -fx-text-fill: black;
}

.activeBudget {
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

.smallHeader {
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

.infoText {
    -fx-font-family: 'Roboto Thin';
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

