.button {
    -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 20px;
}

.background {
    -fx-background-color: #85bb65;
}

.secondBackground {
    -fx-background-color: #DFDFDF;
}

.header {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.titleText {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 40px;
    -fx-text-fill: black;
}

.budgetText {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 26px;
    -fx-text-fill: black;
}

.activeBudget {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

.smallHeader {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: black;
}


